:root{
    --brown: #4c2a2c;
    --orange: #DE5932;
}
html{
    /* font-size: 100%; */
    /* overflow: hidden; */
    scroll-behavior: smooth;
    display: block;
}

*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none !important;
    transition: .2s linear;
}


/* header  ----------------------------------------------------------------*/
.header{
    position: relative;
    background: white;
    display: flex;
    background-size: center;
    background-position: right;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0.4rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0,1);
    z-index: 10;
    width: 100%;
}
header.sticky{
	background: rgba(255,255,255,1);
	position: fixed;
}
.header .a-logo{
    display: flex;
    width: 30%;
    align-items: center;
}
.a-logo h4{
    font-size: 1.5rem;
    color: var(--brown);
    font-size: 2.5rem;
    font-weight: bolder;
}
.a-logo img{
    width: 70px;
    height: 25%;
    margin: 5px;

}
.a-btn:hover{
    border-radius: 15px;
    cursor: pointer;
    color: #fff;
}
.header .a-navbar a{
    font-size: 1.2rem;
    color: var(--brown);
    margin: 0 1rem;
    font-weight: bold;
   
}
.header .a-navbar a:hover{
    background-color: var(--brown);;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: white
}

.header .a-icons{
    margin-right: 15px;
    font-size: 10px;
}
.header .a-icons i{
    padding: 15px;
    color: var(--brown);
}
.header .a-icons i:hover{
    color: white;
    background-color: var(--brown);
}

#menu-btn{
    display: none;
    color: var(--brown);
    border-radius: 30%;
    /* color: white; */
}
#menu-btn:hover{
    color: var(--orange);
    background-color: var(--brown);
}

.header .user{
    background-color: var(--brown);
    position: absolute;
    bottom: -150%;
    right: 0px;
    display: flex;
    flex-flow: column;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    clip-path: polygon(0 0,100% 0,50% 0,100% 0%)
}
.user a{
    background-color: var(--orange);
    color:white;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}
.user a:hover{
    background-color: white;
    color: var(--orange);
}
.user.hiden{
    clip-path: polygon(0 0,100% 0%,100% 100%,0% 100%);
}
#cart-btn{
    position: relative;
}
.numbercart{
    color: #fff;
    border-radius: 5px;
    background-color: red;
    padding: 2px 5px;
    position: absolute;
    top: -0px;
    left: 30px;
    font-size: 1rem;
}
/* send feedback ----------------------------------------------------------------*/
.send{
    /* display: flex;
    flex-direction: column; */
    padding: 5%;
    background-image: url("../image/pattern-a.png");
}
.send h1{
    color: var(--brown);
}
form{
    display: flex;
    flex-direction: column;
}
.ip{
    border: 1px solid #cdcccc;
    border-radius: 5px;
    padding: 0.6rem;
    /* margin: 1% 0; */
}
label{
    margin: 2% 0 1% 0;
}
#sendfb{
    background: linear-gradient( var(--orange) 0%, var(--brown) 100%);
    padding: 10px;
    color: white;
    border-radius: 20px;
    width: 200px;
    margin-top: 2%;
}
#sendfb:hover{
    background: linear-gradient( var(--brown) 0%, var(--orange) 100%);
}
.error{
    border: 1px solid red !important;
}
.smerror{
    color: red;
  display: none;
}

/* section1 ----------------------------------------------------------------*/
.section1{
    background-image: url('../image/footer_bg.jpg');
    background-size: cover;
    background-position: center;
    height: 30vh;
    position: relative;
    /* border: 2px solid red; */
    text-align: center;
    align-items: center;
    display: flex;   
}
/* .section1::after{
    content: "";
    height: 100%;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
} */
.section1 .a-content{
    z-index: 1;
    width: 100%;
}
.a-content h1{
    color: white;
    /* font-family: "PlayFair Display"; */
    font-size: 3rem;
}
.a-content a{
    color: var(--orange);
}
.a-content a:hover{
    color: white;
}
.section1 .a-content span{
    color: white;
}

/* section 2 */
.section2{
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid black; */
    background-image: url("../image/pattern-a.png");
}
.section2 .item{
    flex: 4;
    /* width: 33%; */
    padding: 3%;
    /* border: 1px solid red; */
    /* height: 30vh; */
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    /* background-color: #f9ede9; */
}
.item h1{
    margin: 4% 0;
    font-size: 2;
    color: var(--brown);
}
.item1 input{
    background: linear-gradient( var(--orange) 0%, var(--brown) 100%);
    padding: 10px;
    color: white;
    border-radius: 20px;
    width: 100px;
}
.item1 input:hover{
    background: linear-gradient( var(--brown) 0%, var(--orange) 100%);
}
.item1 p{
    margin: 3% 0;
    line-height: 2;
    /* font-size: 1rem; */
    color: var(--brown);
}
.item2 span{
    color: var(--brown);
}
.item3 .social{
    height: 100%;
    /* width: 100%; */
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.item3 h1{
    /* border: 1px solid black; */
    width: 100%;

}
.item3 a{
    width: 49%;
    /* border: 1px solid black; */
    color: var(--brown);
}

/* map */
.Q-container{
    position: relative;
}
#map{
    height: 500px;
    width: 100%;
    margin: 0 auto;
}
.Q-container .header{
    display: flex;
    position: absolute;
    border: 1px solid black;
    background-color: white;
    top:80px;
    left: 160px;
    width: 300px;
    z-index: 2;
    height:100px;
  
}
.Q-container .content {
    flex: 80%;
    margin-left: 20px;
    padding-top: 10px;
    
}
.Q-container .content  p{
    font-size: 10px;
    padding-top: 10px;
}
.Q-container .content  a{
    font-size: 10px;
    padding-top:15px;
    text-decoration: none;
    color:#de5932;  
}
.Q-container .content  a:hover{
    text-decoration: underline;
}
.Q-container h1{
    text-align: center;
    color: aqua;
}
:root{
    --brown:#4c2a2c;
    --oragne:#de5932;
}
.Q-container .icon{
 flex:20%;
 padding-top:20px ;
 text-align: center;
}
.Q-container .icon a{
    font-size: 10px;
    padding-top: 10px;
    text-decoration: none;
    color: #de5932;
    display: block;
}

/* footer  ----------------------------------------------------------------*/
.Footer{
	background-image: url('../image/footer_bg.jpg');
	background-size: cover;
	/* height: 70vh; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 5% 0
}
.container{
    text-align: start;
	width: 90%;
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
}
.cot1{
	width: 20%;
}
.cot1 .title>img{
	height: 10vh;
	background-size: cover;
	/* background-color: rgba(255, 255, 255, 0.3); */
    /* border-radius: 100px; */
    /* border: 1px solid black; */
}
.cot1 .content{
	color: white;
	text-align: left;
	/* width:80%; */
	/* font-size: 1rem; */
	/* margin: 5% 0; */
	/* font-family: 'Montserrat'; */
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid white; */

}

.cots{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    /* border: 1px solid red; */
    align-items: top;
    /* border: 1px solid white; */
    justify-content: space-between;
    align-content: center;
}

.cot{
	color: white;	
	width: 30%;
    border: 1px solid rgba(255, 255, 255, 0);
    margin: 0 1%;
    /* border: 1px solid white; */
    
}

.copyright{
	/* text-align: center; */
	background-color: #3F0505;
	border: 1px solid #3E0B0B ;
	padding: 2% 10%;
	color: #817E7E;
    margin-top: 5%;

}
.content p{
	margin: 3% 0;
	font-size: 1rem;
    line-height: 2;
    width: 100%;
}
.content span{
    margin: 3% 0;
	font-size: 1rem;
    line-height: 2;
}
.cot .content{
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    /* line-height: 3; */
    /* border: 1px solid red; */
    /* text-align: center; */
}
.content a i{
    color: white;
}
.content a {
    color: white;
    font-size: 1rem;
    margin-top: 20px;
    width: 50%;
}








/* destop ----------------------------------------------------------------*/
@media(max-width:1025px){
    html{
        font-size: 100%;
    }
}

/* taplet ----------------------------------------------------------------*/
@media(max-width:800px){
    html{
        font-size: 80%;
        width: 100%;
    }
    /* .header */
    .header{
        padding: 0.5rem 0;
    }
    .header .a-logo{
        width: 50%;
    }
    .header .a-navbar{
        position: absolute;
        top:99%;
        left: 0;
        right: 0;
        background: var(--brown);
        border-top: 0.1rem solid rgba(0,0,0,0,1);
        border-bottom: 0.1rem solid rgba(0,0,0,0,1);
        clip-path: polygon(0 0,100% 0,50% 0,100% 0%);
        /* z-index: 10 */
    }
    .header .a-navbar.active{
        clip-path: polygon(0 0,100% 0%,100% 100%,0% 100%);
    }

    .header .a-navbar a{
        margin: 1.5rem;
        padding:1.5rem;
        background: var(--orange);
        color:#ffffff;
        display: block;
        border-radius: .5rem;
    }
    .header .a-navbar a:hover{
        background: white;
        color: var(--brown);
        border-radius: .5rem;
    } 
    .header .a-icons i{
        font-size: 2.2rem;
       
    }
    #menu-btn{
        display: inline;
    }
    /* section2 */
    .section2{
        display: block;
    }
    .item1 p{
        margin: 1% 0 2% 0%;
    }
    .item h1{
        font-size: 2.5rem;
    }
    .item2 div{
        margin: 3% 0 0 0;
    }
    .social a{
        margin-top: 4%;
    } 

    /* footer */
    .Footer{
        /* height: 140vh; */
        /* border: 1px solid red; */
        /* line-height: 1.5; */
        padding: 10px 0;
        /* justify-content: space-between; */
        justify-content: center;
    }
    .container{
        /* border: 1px solid red; */
        /* width: 90%; */
        justify-content: center;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .cot1{
        width: 100%;
        display: flex;
        flex-direction: column
    }
    .cot1 .title>img{
        height: 10vh;
    }
    .cot1 .content{
        justify-content: center;
        width: 100%;
        text-align: center;
    }
    .cots{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .cots .title{
        font-size: 1.5rem;
        margin-top: 5%;
    }
    .cot{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .content p{
        font-size: 1.4rem;
        margin: 0;
    }
    .cot .content span{
        font-size: 1.5rem;
        text-align: center;
    }
    .cot .content{
        justify-content: center;
        align-items: center;
    }
}

/* mobile ----------------------------------------------------------------*/
@media (max-width: 480px) {
    html{
        font-size: 50%;
    }
    /* header */
    .header .a-logo{
        width: 50%;
    }
    .a-logo h4{
        font-size: 2.5rem;
    }
    .a-logo img{
        width: 50px;
        /* border: 1px solid black; */
    }
    .header{
        padding: 1rem 0rem;
    }
    .header .a-icons i{
        padding: 10px;
    }

    /* section2 */
    .item1 input{
        width: 80px;
    }

    /* footer */
    .Footer{
        padding: 10px 0;
        justify-content: center;
    }
    .container{
        justify-content: center;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .cot1{
        width: 100%;
        display: flex;
        flex-direction: column
    }
    .cot1 .title>img{
        height: 10vh;
    }
    .cot1 .content{
        justify-content: center;
        width: 100%;
        
    }
    .content span{
        text-align: center;
        font-size: 1.3rem;
    }
    .cots{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .cots .title{
        font-size: 1.5rem;
        margin-top: 5%;
    }
    .cot{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .content p{
        font-size: 1.4rem;
        margin: 0;
    }
    .cot .content span{
        font-size: 1.5rem;
        text-align: center;
    }
    .cot .content{
        justify-content: center;
        align-items: center;
    }

}