:root{
    --brown: #4c2a2c;
    --orange: #DE5932;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
    scroll-behavior: smooth;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* header  ----------------------------------------------------------------*/
.header{
    position: relative;
    background: white;
    display: flex;
    background-size: center;
    background-position: right;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0.4rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0,1);
    z-index: 10;
    width: 100%;
}
header.sticky{
	background: rgba(255,255,255,1);
	position: fixed;
}
.header .a-logo{
    display: flex;
    width: 30%;
    align-items: center;
}
.a-logo h4{
    font-size: 1.5rem;
    color: var(--brown);
    font-size: 2.5rem;
    font-weight: bolder;
}
.a-logo img{
    width: 70px;
    height: 25%;
    margin: 5px;

}
.a-btn:hover{
    border-radius: 15px;
    cursor: pointer;
    color: #fff;
}
.header .a-navbar a{
    font-size: 1.2rem;
    color: var(--brown);
    margin: 0 1rem;
    font-weight: bold;
   
}
.header .a-navbar a:hover{
    background-color: var(--brown);;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: white
}

.header .a-icons{
    margin-right: 15px;
    font-size: 10px;
}
.header .a-icons i{
    padding: 15px;
    color: var(--brown);
}
.header .a-icons i:hover{
    color: white;
    background-color: var(--brown);
}

#menu-btn{
    display: none;
    color: var(--brown);
    border-radius: 30%;
    /* color: white; */
}
#menu-btn:hover{
    color: var(--orange);
    background-color: var(--brown);
}
.header .user{
    background-color: var(--brown);
    position: absolute;
    bottom: -150%;
    right: 0px;
    display: flex;
    flex-flow: column;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    clip-path: polygon(0 0,100% 0,50% 0,100% 0%)
}
.user a{
    background-color: var(--orange);
    color:white;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}
.user a:hover{
    background-color: white;
    color: var(--orange);
}
.user.hiden{
    clip-path: polygon(0 0,100% 0%,100% 100%,0% 100%);
}
#cart-btn{
    position: relative;
}
.numbercart{
    color: #fff;
    border-radius: 5px;
    background-color: red;
    padding: 2px 5px;
    position: absolute;
    top: -0px;
    left: 30px;
    font-size: 1rem;
}

/* section1 ----------------------------------------------------------------*/
.section1{
    background-image: url('../image/footer_bg.jpg');
    background-size: cover;
    background-position: left;
    height: 30vh;
    position: relative;
    /* border: 2px solid red; */
    text-align: center;
    align-items: center;
    display: flex;   
}
/* .section1::after{
    content: "";
    height: 100%;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
} */
.section1 .a-content{
    z-index: 1;
    width: 100%;
}
.a-content h1{
    color: white;
    /* font-family: "PlayFair Display"; */
    font-size: 3rem;
}
.a-content a{
    color: var(--orange);
    font-size: 1.4rem;
}
.a-content a:hover{
    color: white;
}
.section1 .a-content span{
    color: white;
    font-size: 1.4rem;
}

/* section 2 ------------------------------------------------------*/
.section2{
    padding: 5%;
    display: flex;
    flex-direction: column;
    background-image: url('../image/pattern-a.png');
}
.section2 h1{
    font-size: 3rem;
}
.section2 h3{
    margin: 2% 0%;
}
.section2 .img{
    text-align: center;
    margin: 2%;
}




/* section 3 ------------------------------------------------------*/
.section3{
    justify-content: center;
    text-align: center;
    background: url(../image/chef_bg.jpg) no-repeat;
    background-size: cover;
    min-height: 250px;
    display: flex;
    align-items: start;
    color: #fff;
    padding: 60px 0;
    flex-wrap: wrap;
}
.section3 .about{
    width: 300px;
    margin: 20px 20px;
    /* display: flex; */
   
}
.section3 .about h3{
    font-weight: 700;
    font-size: 48px;
    /* font-family:'Playfair Display', serif; */
    margin: 10px 5px;
    text-align: left;
}
.section3 .about p{
    font-size: 19px;
    color: rgb(145, 144, 143);
    margin: 10px 5px;
    text-align: left;
    line-height: 1.4em;
}
.list-profile{
    display: flex;
    flex-wrap: wrap;
    /* text-align: center; */
    /* border: 1px solid rgb(145, 144, 143); */
    justify-content: center;
    /* border: 1px solid rgb(145, 144, 143); */
} 
.section3 .profile{
    text-align: center;
    margin: 25px;
    
}
.section3 .profile > h3{
    font-size: 24px;
}
.section3 .profile > h3,
.section3 .profile > img{
    cursor: pointer;
}
.section3 .profile > p{
    font-style: italic;
    /* font-family: "Lato", Sans-serif; */
    font-size: 17px;
}
.section3 .social-list{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 0px;
}
.section3 .item{
    font-size: 14px;
    background-color: #ef552b;
    padding: 5px 8px;
    border-radius: 50%;
    
}
.section3 .item i{
    color: #fff;
}
/* ------------popup------------- */
.my-popup,
.my-popup2,
.my-popup3{
    display: none;
    /* position: relative; */
}
.popup{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 60%;
    height: 70vh;
    border-radius: 10px;
    margin: auto;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: top;
    justify-content: center;
    /* padding: 20px; */
    border: 1px solid black;
    padding: 5%;
    
}  
.my-popup.show,
.my-popup2.show,
.my-popup3.show{
    display: block;
}


.popup .information{
    text-align: center;
    /* margin-top: ; */
    /* line-height: 1.6em; */
    /* border: 1px solid green; */
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: top;
}

.popup .name{
    color: black;
    font-size: 24px;
    /* font-family: 'Playfair Display', serif; */
    /* margin-top:1%; */
    width: 100%;
    /* border: 1px solid red; */
}
.popup{
    display: flex;
    flex-wrap: wrap;
}
.popup .position{
    color: rgba(0,0,0,.5);
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 25px;
    /* border: 1px solid   black; */
}
.popup .content{
    color: rgba(0,0,0,.5);
    /* border: 1px solid red; */
    width: 100%;
}
.popup strong{
    margin-right: 18px;
    color: rgba(0,0,0,.5);
}
.popup .infor_list{
    list-style-type: none;
    padding-left: 0;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
}
.popup .infor_list a{
    color: rgba(0,0,0,.5);
    text-decoration: none;
    width: 100%;
}
.popup .infor_list a:hover{
    color: blue;
}
.popup .infor_list li{
    margin-top: 15px;
    width: 100%;
    /* border: 1px solid red; */

}

.popup .social_list{
    list-style-type: none;
    display: flex;
    /* padding-left: 0; */
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.popup .social_list .item{
    font-size: 14px;
    background-color: #ef552b;
    /* padding: 2%; */
    border-radius: 50%;
    /* margin-right: 20px;
    margin-top: 20px; */
    margin: 10px;
}
.popup .item i{
    color: #fff;
}

.icon, .icon2, .icon3{
    /* border: 1px solid black; */
    /* z-index: 10000; */
    position: absolute;
    top: 10%;
    right: 10%;
}

.icon:hover, .icon2:hover, .icon3:hover{
    /* border: 1px solid black; */
    /* z-index: 10000; */
    background-color: var(--brown);
    border-radius: 20px;
    /* color: white; */
}

/* footer  ----------------------------------------------------------------*/
.Footer{
	background-image: url('../image/footer_bg.jpg');
	background-size: cover;
	/* height: 70vh; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 5% 0
}
.container{
    text-align: start;
	width: 90%;
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
}
.cot1{
	width: 20%;
}
.cot1 .title>img{
	height: 10vh;
	background-size: cover;
	/* background-color: rgba(255, 255, 255, 0.3); */
    /* border-radius: 100px; */
    /* border: 1px solid black; */
}
.cot1 .content{
	color: white;
	text-align: left;
	/* width:80%; */
	/* font-size: 1rem; */
	/* margin: 5% 0; */
	/* font-family: 'Montserrat'; */
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid white; */

}

.cots{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    /* border: 1px solid red; */
    align-items: top;
    /* border: 1px solid white; */
    justify-content: space-between;
    align-content: center;
}

.cot{
	color: white;	
	width: 30%;
    border: 1px solid rgba(255, 255, 255, 0);
    margin: 0 1%;
    /* border: 1px solid white; */
    
}

.copyright{
	/* text-align: center; */
	background-color: #3F0505;
	border: 1px solid #3E0B0B ;
	padding: 2% 10%;
	color: #817E7E;
    margin-top: 5%;

}
.content p{
	margin: 3% 0;
	font-size: 1rem;
    line-height: 2;
    width: 100%;
}
.content span{
    margin: 3% 0;
	font-size: 1rem;
    line-height: 2;
}
.cot .content{
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    /* line-height: 3; */
    /* border: 1px solid red; */
    /* text-align: center; */
}
.content a i{
    color: white;
}
.content a {
    color: white;
    font-size: 1rem;
    margin-top: 20px;
    width: 50%;
}


/* reponsive ----------------------------------------------------------------*/

/* destop ----------------------------------------------------------------*/
@media(max-width:1025px){
    html{
        font-size: 80%;
    }
}

/* taplet ----------------------------------------------------------------*/
@media(max-width:800px){
    html{
        font-size: 70%;
        width: 100%;
    }
    /* .header */
    .header{
        padding: 0.5rem 0;
    }
    .header .a-logo{
        width: 50%;
    }
    .header .a-navbar{
        position: absolute;
        top:99%;
        left: 0;
        right: 0;
        background: var(--brown);
        border-top: 0.1rem solid rgba(0,0,0,0,1);
        border-bottom: 0.1rem solid rgba(0,0,0,0,1);
        clip-path: polygon(0 0,100% 0,50% 0,100% 0%)
    }
    .header .a-navbar.active{
        clip-path: polygon(0 0,100% 0%,100% 100%,0% 100%);
    }

    .header .a-navbar a{
        margin: 1.5rem;
        padding:1.5rem;
        background: var(--orange);
        color:#ffffff;
        display: block;
        border-radius: .5rem;
    }
    .header .a-navbar a:hover{
        background: white;
        color: var(--brown);
        border-radius: .5rem;
    } 
    .header .a-icons i{
        font-size: 2.2rem;
       
    }
    #menu-btn{
        display: inline;
    }


    /* footer */
    .Footer{
        /* height: 140vh; */
        /* border: 1px solid red; */
        /* line-height: 1.5; */
        padding: 10px 0;
        /* justify-content: space-between; */
        justify-content: center;
    }
    .container{
        /* border: 1px solid red; */
        /* width: 90%; */
        justify-content: center;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .cot1{
        width: 100%;
        display: flex;
        flex-direction: column
    }
    .cot1 .title>img{
        height: 10vh;
    }
    .cot1 .content{
        justify-content: center;
        width: 100%;
        text-align: center;
    }
    .cots{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .cots .title{
        font-size: 1.5rem;
        margin-top: 5%;
    }
    .cot{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .content p{
        font-size: 1.4rem;
        margin: 0;
    }
    .cot .content span{
        font-size: 1.5rem;
        text-align: center;
    }
    .cot .content{
        justify-content: center;
        align-items: center;
    }
}

/* mobile ----------------------------------------------------------------*/
@media (max-width: 480px) {
    html{
        font-size: 50%;
    }
    /* header */
    .header .a-logo{
        width: 50%;
    }
    .a-logo h4{
        font-size: 2.5rem;
    }
    .a-logo img{
        width: 50px;
        /* border: 1px solid black; */
    }
    .header{
        padding: 1rem 0rem;
    }
    .header .a-icons i{
        padding: 10px;
    }
    

    /* footer */
    .Footer{
        padding: 10px 0;
        justify-content: center;
    }
    .container{
        justify-content: center;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .cot1{
        width: 100%;
        display: flex;
        flex-direction: column
    }
    .cot1 .title>img{
        height: 10vh;
    }
    .cot1 .content{
        justify-content: center;
        width: 100%;
        
    }
    .content span{
        text-align: center;
        font-size: 1.3rem;
    }
    .cots{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .cots .title{
        font-size: 1.5rem;
        margin-top: 5%;
    }
    .cot{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .content p{
        font-size: 1.4rem;
        margin: 0;
    }
    .cot .content span{
        font-size: 1.5rem;
        text-align: center;
    }
    .cot .content{
        justify-content: center;
        align-items: center;
    }
}